# Assignment Day 4

# Q1.)

In [2]:
import pandas as pd
print(pd.__version__)

1.0.5

# Q2.)

In [4]:
import numpy as np
data = np.array( ["a","b","c","d","e"] )
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

# Q3.)

In [9]:
data = {"Product": ["Computer","Printer","Mouse","Phone"],
       "Price" : [1200,300,50,400]}
df = pd.DataFrame(data, columns = ["Product","Price"], index = ["Item 1","Item 2","Item 3","Item 4"])
print(df)

         Product  Price
Item 1  Computer   1200
Item 2   Printer    300
Item 3     Mouse     50
Item 4     Phone    400

In [10]:
df.reset_index(inplace=True)
print(df)

    index   Product  Price
0  Item 1  Computer   1200
1  Item 2   Printer    300
2  Item 3     Mouse     50
3  Item 4     Phone    400

# Q4.)

In [1]:
#Importing seaborn library and checking version
import seaborn as sns
print(sns.__version__)

0.10.1

In [7]:
#Loading datasets
data = sns.get_dataset_names()

C:\Users\swapn\anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\swapn\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

In [9]:
data = sns.load_dataset("mpg")
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

# Q5.)

In [11]:
origincars = data["origin"].unique()

In [14]:
print("Countries of origin cars:",origincars)

Countries of origin cars: ['usa' 'japan' 'europe']

# Q6.)

In [20]:
# Creating a subset of the data and showing data only for cars with usa origin.
us_data = data[data.origin == "usa"]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10